{% extends 'Index.html' %}
{% block top_title %}Категории{% endblock %}
{% block content %}
    <form class="form" action="/admin/category/save" method="post">
        <label for="title">Введите название категории</label>
        <input type="text" id="title" name="category[title]" required><br>
        <label for="categories">Выберите родительский каталог</label>
        <select id="categories" name="category[parent]">
            {% for cat in cats %}
                <option value="{{cat.__id}}">{{cat.title}}</option>
            {% endfor %}
        </select>
        <br>
        <input class="btn btn-sm btn-success" type="submit" value="Сохранить">
    </form>
<a href="/admin/category">К категориям</a>
{% endblock %}