{% extends 'Index.html' %}
{% block top_title %}Категории{% endblock %}
{% block content %}
    <a href="/admin/category/add" class="btn btn-sm btn-success">Добавить</a>
    <p></p>
    <table class="table table-striped">
        <tr>
            <th width="70%">Категория</th><th>Действия</th><th>Вверх</th><th>Вниз</th>
        </tr>
        {% for cat in cats %}
            <tr>
                <td>{% if cat.__lvl == 0 %}{{cat.title}}{% elseif cat.__lvl == 1 %}- {{cat.title}}{% elseif cat.__lvl == 2 %}-- {{cat.title}}{% else %}--- {{cat.title}}{% endif %}</td>
                <td><a class="btn btn-danger btn-sm" href="/admin/category/delete?id={{cat.Pk}}">Удалить</a></td>
                <td><a class="btn btn-primary btn-sm" href="/admin/category/up?id={{cat.Pk}}">Вверх</a></td>
                <td><a class="btn btn-primary btn-sm" href="/admin/category/down?id={{cat.Pk}}">Вниз</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}