{% extends 'Index.html' %}
{% block top_title %}Категории{% endblock %}
{% block content %}
{% if errors %}
{% for error in errors %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Ошибка:</strong> {{ error.message }}
</div>
{% endfor %}
{% endif %}

    <form class="form" action="/admin/category/edit" method="post">
        <label for="title">Введите название категории</label>
        <input type="text" id="title" name="category[title]" value="{{category.title}}" required><br>
        <label for="categories">Выберите родительский каталог</label>
        <select id="categories" name="category[parent]">
            {% for cat in cats %}
                {% if category.__prt == cat.pk %}
                    <option value="{{cat.__id}}" selected>{{cat.title}}</option>
                {% elseif category.pk != cat.pk %}
                    <option value="{{cat.__id}}">{{cat.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        {% if category.pk %}
            <input type="hidden" name="category[id]" value="{{category.pk}}">
        {% endif %}
        <input class="btn btn-sm btn-success" type="submit" value="Сохранить">
    </form>
<a href="/admin/category">К категориям</a>
{% endblock %}