{% extends 'Index.html' %}
{% block top_title %}Редактировать новость{% endblock %}
{% block content %}
<div class="container">
    <form method="post" action="/admin/news/save" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Заголовок новости</label>
            <input type="text" class="form-control" id="title" name="title" value="{{article.title}}" placeholder="Заголовок новости">
        </div>
        <div class="form-group">
            <label for="pubday">Дата публикации</label>
            <input type="date" class="form-control" id="pubday" value="{{article.pubday}}" name="pubday">
        </div>
        <div class="form-group">
            <label for="text">Содержание новости</label>
            <textarea class="form-control" id="text" name="text" placeholder="Содержание новости" required>{{article.text}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Выберите изображение</label>
            <input type="file" id="image" name="image">{{article.image}}
        </div>
        {% if article.__id %}
        <input type="hidden" name="__id" value="{{article.__id}}">
        {% endif %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<a href="/admin/news">К списку новостей</a>
{% endblock %}